# Port number
PORT=3000



# JWT
# JWT secret key
JWT_SECRET="tilkasecret"
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=info@tilka.tech
SMTP_PASSWORD=YuXwYA4NJdAL
EMAIL_FROM=info@tilka.tech
POSTGRES_HOST=localhost
POSTGRES_USER=tilka
POSTGRES_DB=tilka
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
